
    <div class="container">
      <div class="jumbotron">
        <h1 class="display-4">New York Times Scraper</h1>
        <hr class="my-4">
        <p class="lead">Select An Article To post Your Comments!</p>
        <button class="scrape">Get Articles!</button>
      </div>

      <div class="card">
        <div class="card-body">
          <div id="articles"></div>
        </div>
      </div>

      <div class="card" id ="noteCard">
        <div id="notes"></div>
      </div>

      
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="app.js"></script>
