body { background-color: grey }
#wrapper {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5%;
}
#articles {
  display: inline-block;
  width: 95%;
  height: 700px;
}
#notes {
  width: 90%;
  margin: 10px;
}
#savenote {
  margin: 10px;
}
#closeNote {
  margin: 10px;
}
#noteCard {
  z-index: 1000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: grey;
  display: none;
}
textarea, input {
  display: block;
  width: 100%;
}
input {
  height: 36px;
  font-size: 24px;
}
textarea {
  height: 200px;
  font-size: 18px;
}
.mainNews {
  border-width: 2px;
  border-style: solid;
  border-color: black;
  margin : 20px;
  background-color: #e9ecef;
  text-align: center;
}
#save-article {
  margin : 15px;
  background-color: grey;
}
p {
  font-size: 25px;
}
#noteSave {
  margin : 15px;
  background-color: grey;
}
#input {
  background-color : #e9ecef ;
}